numpy==1.26.4
pandas==2.2.0
pandas-gbq==0.23.1
pandastable==0.13.1
pandocfilters==1.5.1
pendulum==3.0.0
pygsheets==2.0.5
requests==2.31.0
selenium==4.11.2
xmltodict==0.13.0
python-dateutil==2.8.2
openpyxl==3.1.0
pyautogui==0.9.54
pywin32==306
xlsxwriter==3.2.0
python-dotenv==1.0.1
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.63.0
lxml==5.3.1
bs4==0.0.2
webdriver-manager==4.0.2
playwright==1.53.0
cloudscraper==1.2.71